* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

/*Navbar Style*/
body {
  transition: background-color 0.6s;
}

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  backdrop-filter: blur(5px);
  border: none;
  z-index: 1;
}
.logo {
  transition: color 0.6s;
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.logo h1 {
  margin-left: 1rem;
}

.icon {
  margin-left: 3rem;
  margin-right: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.items {
  display: none;
  display: flex;
  align-items: center;
}
.items a {
  margin-left: 3rem;
  text-decoration: none;
  color: black;
  transition: color 0.6s;
  font-size: 18px;
  transition: 0.5s;
}
.items a:hover {
  color: rgb(34, 94, 58);
  border-bottom: 2px solid rgb(34, 94, 58);
  border-radius: 5px;
}

.items button {
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.toggle-btn span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 20px;
    align-items: center;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 55px;
    left: 0;
    z-index: 1;
    display: none;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
  .items a {
    color: black;
    font-weight: 600;
  }

  .items a:hover {
    color: rgb(48, 102, 70);
  }
  button img {
    margin-left: 3rem;
  }

  .items.active {
    display: flex;
  }

  .toggle-btn {
    color: black;
    display: block;
  }
  .logo {
    padding: 0;
    margin-inline: 1rem;
  }
}

/*Home page*/
.home {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heading h1 {
  transition: color 0.6s;
  font-size: 3rem;
}
.para p {
  margin-top: 1rem;
  transition: color 0.6s;
  font-size: 18px;
  line-height: 25px;
  width: 400px;
}
.para button {
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(rgb(30, 121, 66), rgb(19, 131, 64));
  padding: 18px;
  margin-top: 2rem;
}
.para button img {
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 1000px) {
  .home {
    flex-direction: column;
  }
  .heading h1 {
    margin-top: 3rem;
    text-align: center;
    line-height: 3.5rem;
  }
  .para {
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .home-pic {
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  .home {
    flex-direction: column-reverse;
  }
  .heading h1 {
    margin-top: -10rem;
    font-size: 2.5rem;
  }
  .home-pic img {
    width: 400px;
  }
}
/*About Page*/
.about {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: color 0.6s;
}
.about-pic img {
  width: 500px;
  transition: color 0.6s;
}
.about-details .heading1 {
  width: 600px;
  transition: color 0.6s;
  font-size: 2rem;
}
.about-details .para1 {
  margin-top: 2rem;
  width: 500px;
  font-size: 18px;
  transition: color 0.6s;
  text-align: justify;
}
.options {
  transition: color 0.6s;
  margin-top: 2rem;
  line-height: 2rem;
}
.options label {
  transition: color 0.6s;
  text-align: center;
  font-size: 18px;
}
.options input {
  transition: color 0.6s;
  margin-top: 1rem;
}
.shop {
  border: none;
  background: linear-gradient(rgb(30, 121, 66), rgb(19, 131, 64));
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .about {
    flex-direction: row;
  }
  .about-pic img {
    width: 400px;
  }
  .about-details .heading1 {
    width: 400px;
    font-size: 1.5rem;
  }
  .about-details .para1 {
    width: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
  }
  .about-details .heading1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .para1 {
    text-align: justify;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .options {
    margin-left: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .about-pic img {
    width: 300px;
  }
  .about-details .heading1 {
    font-size: 1.5rem;
  }
  .para1 p {
    font-size: 18px;
  }
  .options label {
    font-size: 15px;
  }
}

/*Discount Page*/
.discount {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.discount .content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  box-shadow: 0.5rem 0.5rem 20px rgba(49, 100, 70, 0.5);
  border-radius: 20px;
}
.discount-details .heading2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: color 0.6s;
}
.discount-details h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  transition: color 0.6s;
}
.discount-details p {
  font-size: 18px;
  transition: color 0.6s;
}
.discount-details button {
  border: none;
  background: linear-gradient(rgb(30, 121, 66), rgb(19, 131, 64));
  border-radius: 30px;
  color: white;
  padding: 15px;
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 600;
}
.scroll-img {
  background-color: rgb(240, 197, 204);
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.scroll-img img {
  margin-left: 25px;
}
@media screen and (max-width: 1200px) {
  .discount .content {
    width: 70%;
    height: 70vh;
    display: flex;
    flex-direction: column-reverse;
  }
  .discount-details .heading2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .discount-details h1 {
    font-size: 2rem;
    text-align: center;
  }
  .discount-details button {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 800px) {
  .discount .content {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .discount .content {
    flex-direction: column-reverse;
    width: 90%;
  }
  .discount-details .heading2 {
    font-size: 1rem;
  }
  .discount-details h1 {
    font-size: 2rem;
  }
  .discount-details p {
    width: 400px;
    text-align: center;
  }
}

/* Product Page */
.product {
  padding-top: 5rem;
}
.product .heading {
  transition: color 0.6s;
  text-align: center;
}
.title {
  transition: color 0.6s;

  display: flex;
  justify-content: space-around;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
.title button {
  transition: color 0.6s;

  padding: 10px 20px 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 10px;
  background: transparent;
}
.title button:hover {
  transition: 0.3s;
  border: 2px solid rgb(19, 131, 64);
  color: rgb(19, 131, 64);
  border-style: dashed;
  border-spacing: 1px;
}
.products1 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.products1 .stars {
  display: flex;
}
.details {
  transition: color 0.6s;
}
.details h5 {
  font-size: 17px;
}
.details p {
  margin-top: 5px;
  margin-bottom: 3px;
  color: rgb(19, 131, 64);
}
@media screen and (max-width: 1400px) {
  .title {
    width: 50%;
  }
}
@media screen and (max-width: 1100px) {
  .products1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3rem;
  }
  .title {
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .products1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .title {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .product .heading {
    margin-top: 10rem;
  }
  .products1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .title {
    width: 100%;
  }
  .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
}

/*FAQs Page*/
.faq {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.faq-heading {
  transition: color 0.6s;
  height: 30vh;
  width: 70%;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.faq-heading h1 {
  transition: color 0.6s;

  width: 700px;
  font-size: 3rem;
}

.questions {
  transition: color 0.6s;

  height: 40vh;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.firstq p {
  padding: 15px 30px 15px 30px;
  margin-top: 2rem;
  font-size: 18px;
  background-color: rgba(165, 213, 245, 0.5);
}
.secondq {
  margin-top: 6rem;
  width: 50%;
}
.secondq p {
  padding: 15px 30px 15px 30px;
  margin-top: 2rem;
  font-size: 18px;
  background-color: rgb(165, 213, 245, 0.5);
}

.secondq .para4 {
  background-color: rgb(19, 131, 64);
  line-height: 2.5rem;
}
@media screen and (max-width: 1400px) {
  .faq {
    height: 100vh;
    flex-direction: column;
  }
  .faq-heading {
    width: 100%;
  }
  .questions {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .faq {
    height: 100vh;
    flex-direction: column;
    margin-bottom: 10rem;
  }
  .faq-heading {
    text-align: center;
  }
  .questions {
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .firstq {
    width: 60%;
  }
  .secondq {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  .faq {
    margin-bottom: 20rem;

    height: 100vh;
    flex-direction: column;
  }
  .faq-heading h1 {
    width: 100%;
    font-size: 2rem;
  }
  .questions {
    margin-top: 10rem;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .faq {
    height: 100vh;
    margin-bottom: 25rem;
  }
  .questions {
    height: 100vh;
  }
}

/*Team Section*/
.team {
  height: 100vh;
  padding-top: 3rem;
  margin-bottom: 15rem;
}
.team-heading {
  margin-top: 5rem;
  background-color: rgb(173, 188, 230, 0.5);
  height: 40vh;
}
.team-heading h1 {
  transition: color 0.6s;
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
}
.team-heading p {
  transition: color 0.6s;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin-top: 5rem;
}
.team-members .card {
  width: 350px;
  height: 350px;
  color: rgb(87, 84, 84);
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0.3rem 0.5rem 1rem rgb(0, 0, 0, 0.5);
}
.team-design {
  display: flex;
}
.team-design img {
  width: 80px;
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  background-color: lightblue;
  border-radius: 50%;
}
.team-details {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
.team-details h4 {
  margin-top: 5px;
}
.team-details p {
  text-align: justify;
}
@media screen and (max-width: 800px) {
  .team {
    height: 100vh;
    margin-bottom: 40rem;
  }
  .team-heading h1 {
    font-size: 1.5rem;
  }
  .team-heading p {
    width: 240px;
    font-size: 1rem;
  }
}

/*Contact Section*/
.contact {
  height: 100vh;
  padding-top: 5rem;
}
.contact-heading {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact-heading h1 {
  text-align: center;
}
.contact-heading p {
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  line-height: 25px;
  font-size: 18px;
}
.contact-table {
  display: flex;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
.contact-intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 3rem;
  width: 35%;
  height: 100%;
  background-color: rgb(0, 255, 102);
  box-shadow: 0.5rem 0.5rem 2rem rgba(151, 238, 223, 0.644);
  border-radius: 5px;
}
.contact-intro h1 {
  font-size: 2rem;
  padding: 20px;
}
.contact-intro #para7 {
  padding-left: 20px;
  margin-bottom: 2rem;
  overflow: hidden;
}
.contact-address {
  display: flex;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.contact-address .icons {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-top: 1rem;
}
.contact-address .icons img {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}
.contact-address .address p {
  margin-left: 2rem;
  margin-top: 0.5rem;
}
.contact-form {
  width: 65%;
  height: 100%;
  box-shadow: 0.5rem 0.5rem 2rem rgba(151, 238, 223, 0.644);
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 5px;
}
form {
  margin-top: 3rem;
}
form label {
  display: flex;
  flex-direction: column;
  color: gray;
  font-size: 18px;
}
form input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid gray;
  padding: 10px;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 16px;
}
form .first {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
form .second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin-top: 2rem;
}
form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 18px;
}
form .third {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: 8%;
}
form .form-button {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
form .form-button button {
  background-color: rgb(0, 255, 76);
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin-top: 2rem;
}
.map iframe {
  width: 100%;
  border-radius: 10px;
  margin-top: 2rem;
  height: 40vh;
}
@media screen and (max-width: 1500px) {
  .contact-address {
    flex-direction: column;
    margin-top: -1rem;
  }
  .contact-address p {
    width: 100%;
  }
  form input {
    width: 200px;
  }
}
@media screen and (max-width: 1300px) {
  .contact-table {
    flex-direction: column;
    width: 80%;
    height: 100vh;
  }
  .contact-intro {
    height: 80%;
    width: 100%;
  }
  .contact-form {
    height: 100%;
    width: 100%;
  }
  .contact-intro .contact-address {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 2rem;
  }
  .contact-intro .contact-address .address {
    margin-left: 2rem;
  }
  .contact-intro h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .contact-intro #para7 {
    font-size: 15px;
    text-align: center;
    padding: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact-address .address p {
    text-align: center;
    margin-left: 0.4rem;
    margin-top: 1rem;
  }
  form .form-button {
    width: 100%;
    justify-content: center;
  }
  .contact-form .first {
    width: 100%;
    margin-left: auto;
  }
  .contact-form .second {
    width: 100%;
    margin-left: auto;
  }
  form .third {
    text-align: center;
  }
  .contact-form .third textarea {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .contact-table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100vh;
    flex-wrap: unset;
    flex-direction: column;
  }
  .contact-heading p {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .form-button .button {
    margin-bottom: 2rem;
  }
  .contact-form .third textarea {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .contact-heading p {
    width: 100%;
  }
  .contact-heading p {
    width: 80%;
    font-size: 15px;
  }
  .contact-intro .contact-address {
    display: flex;
    flex-direction: column;
  }
  .contact-address {
    width: 100%;
  }
  .contact-intro .contact-address .address {
    margin-left: 0;
  }
  .contact-form .first {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .contact-form .second {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .contact-form label {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .contact-form input {
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5rem;
  }
  .contact-form .third textarea {
    width: 80%;
  }
  .map {
    margin-top: 25rem;
    margin-bottom: 3rem;
  }
}

/*Footer*/
footer {
  height: 50vh;
  margin-top: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .first .logo {
  display: flex;
  margin: 0;
}
footer .first h1 {
  height: 60px;
  display: flex;
  align-items: center;
  margin-left: 5%;
  font-size: clamp (1rem, 2vw, 2rem);
}
footer .first .para p {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 600;
}
footer .first button {
  width: 80%;
  margin-top: 2rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(0, 255, 76, 0.3);
}
footer .first button a {
  text-decoration: none;
  background-color: rgb(0, 153, 61);
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 600;
  color: white;
}

footer .first button input {
  width: 60%;
  border: none;
  background-color: transparent;
  padding: 20px;
  font-size: 18px;
}
footer .second {
  display: flex;
  flex-direction: column;
}
footer .title {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: clamp (1rem, 2vw, 2rem);
  margin-top: 8px;
}
footer .title .last {
  width: 300px;
}
footer .address {
  margin-top: 1rem;
  color: gray;
  font-size: 18px;
  line-height: 2rem;
  font-weight: 300;
}
footer .icons i {
  margin-right: 1rem;
  margin-top: 1rem;
  font-size: 30px;
  color: gray;
}
footer .cards img {
  margin-top: 2rem;
  margin-right: 0.8rem;
  width: 50px;
}
@media (max-width: 1300px) {
  footer {
    margin-top: 50rem;
  }
}
@media (max-width: 600px) {
  footer {
    margin-top: 70rem;
  }
  footer .first .logo {
    display: flex;
    justify-content: center;
  }
  footer .first .para p {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  footer .first button {
    width: 100%;
  }
  footer .title {
    margin-top: 2rem;
  }
  footer .title .last {
    text-align: center;
  }
  footer .cards {
    margin-bottom: 3rem;
  }
}
@media (max-width: 450px) {
  footer .first .logo {
    font-size: 15px;
  }
  footer .first .para {
    width: 100%;
    text-align: center;
  }
  footer .first .para p {
    font-size: 15px;
  }
  footer .title {
    font-size: 15px;
  }
  footer .address {
    font-size: 15px;
  }
}
